<a href="https://colab.research.google.com/github/Criell/Data/blob/master/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
# upload dataset
from google.colab import drive
drive.mount('/content/drive')
path = "/content/drive/My Drive/Data/Lina1/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


# Pandas Basics

Dataset contiene lista de películas. Fichero `filmdeathcounts.csv`.

In [ ]:
import pandas as pd
df = pd.read_csv(path + "filmdeathcounts.csv")
print(df.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            545 non-null    object
 1   Year            545 non-null    int64
 2   Body_Count      545 non-null    int64
 3   MPAA_Rating     545 non-null    object
 4   Genre           545 non-null    object
 5   Director        545 non-null    object
 6   Length_Minutes  545 non-null    int64
 7   IMDB_Rating     545 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 34.2+ KB
None

**Ejercicio 1:** Muestra un dataframe con los 10 films con menos muertes, y su número de muertes, ordenados de menos a más.

In [ ]:
df1 = df.loc[:, ['Film', 'Year', 'Body_Count', 'Length_Minutes']]
menos_muertes = df1.sort_values(by=['Body_Count'])
menos_muertes = menos_muertes.iloc[:10,:].set_index('Film').reset_index()
menos_muertes

                       Film  Year  Body_Count  Length_Minutes
0                     Alien  1979           1             117
1                       8MM  1999           1             123
2                 The Yards  2000           2             115
3                To Die For  1995           2             106
4                    Zodiac  2007           3             157
5              Mean Machine  2001           3              99
6              Donnie Darko  2001           3             113
7         Kill Bill: Vol. 2  2004           3             137
8  The Phantom of the Opera  2004           3             143
9               Barton Fink  1991           3             116

**Ejercicio 2:** Encuentra el film con el mayor número de muertes.

In [ ]:
mayor_muertes = df1.sort_values(by=['Body_Count'], ascending = False).iloc[0,:]
print("FILM CON MAYOR # MUERTES")
mayor_muertes

FILM CON MAYOR # MUERTES

Film              Lord of the Rings: Return of the King
Year                                               2003
Body_Count                                          836
Length_Minutes                                      201
Name: 241, dtype: object

**Ejercicio 3:** Esta pregunta equivaldría a "¿cuál es el film más violento?". Si no, ¿cuál es?

In [ ]:
df1['Killers_Per_Minute'] = df1['Body_Count'] / df1['Length_Minutes']
print("FILM MAS VIOLENTO")
result = df1.sort_values(by=['Killers_Per_Minute'], ascending = False).iloc[0,:]
result

FILM MAS VIOLENTO

Film                      300
Year                     2007
Body_Count                600
Length_Minutes            117
Killers_Per_Minute    5.12821
Name: 4, dtype: object

Para los siguientes ejercicios contamos con otro CSV, `tmdb_5000_movies.csv`, con más películas y más información sobre las mismas.

**Ejercicio 4:** Usando el anterior dataset, ¿qué porcentaje de películas está por encima de la media global en términos de beneficio? Redondea a dos decimales.

In [ ]:
from statistics import mean

pd.options.display.float_format = '{:,.2f}'.format
df = pd.read_csv(path + "tmdb_5000_movies.csv")

df1 = df.loc[:, ['original_title', 'revenue', 'budget']]
df1['budget'] = df1['budget'].astype('float32')
df1['revenue'] = df1['revenue'].astype('float32')
df1['beneficio'] = (df1['revenue'] - df1['budget'] ).fillna(0).astype('float32')

mean_movies = float(mean(df1['beneficio']))
print("MEDIA GLOBAL: $ {:,.2f}".format(round (mean_movies,2)), '\n\n')

#df1 = df1.where(df1['beneficio'] > mean_movies)
df1 = df1.sort_values(by=['beneficio'], ascending = False).set_index('original_title')
df1 = df1[df1['beneficio'] > mean_movies]
df1 = df1.dropna()

print("FILMS ENCIMA DE LA MEDIA GLOBAL: ", '\n')

print(df1)

MEDIA GLOBAL: $ 53,215,598.84


FILMS ENCIMA DE LA MEDIA GLOBAL:

                              revenue         budget        beneficio
original_title
Avatar               2,787,965,184.00 237,000,000.00 2,550,965,248.00
Titanic              1,845,034,240.00 200,000,000.00 1,645,034,240.00
Jurassic World       1,513,528,832.00 150,000,000.00 1,363,528,832.00
Furious 7            1,506,249,344.00 190,000,000.00 1,316,249,344.00
The Avengers         1,519,557,888.00 220,000,000.00 1,299,557,888.00
...                               ...            ...              ...
The Gift                58,978,652.00   5,000,000.00    53,978,652.00
Bad Santa               76,488,888.00  23,000,000.00    53,488,888.00
Chariots of Fire        58,972,904.00   5,500,000.00    53,472,904.00
The Kite Runner         73,276,048.00  20,000,000.00    53,276,048.00
(500) Days of Summer    60,722,736.00   7,500,000.00    53,222,736.00

[1224 rows x 3 columns]